# ===============================
# 🧩 React Native Project .gitignore
# ===============================

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Xcode / iOS
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android / IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
captures/

# React Native / Metro
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.metro-health-check*
*.jsbundle
*.packager.config.js
.expo/
dist/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundler / Ruby
**/Pods/
vendor/bundle/

# Testing
coverage/
jest-cache/
jest-test-results.json

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VS Code
.vscode/
.history/

# Temporary files
tmp/
temp/
*.tmp
*.swp
*.bak
